{
  "presets": [
    [
      "next/babel",
      {
        "class-properties": { "loose": true }
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-private-property-in-object", { "loose": true }], ["@babel/plugin-proposal-private-methods", { "loose": true }]]
}
